.btn-search {
  background-color: transparent;
  border: none;
  color: transparent;
}

.cover {
  background-image: url(../assets/images/index/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
}

.btn-cover {
  padding: 16px;
  color: white;
  border: 1px solid white;
  border-radius: none !important;
}

.bg-black-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: fit-content;
}

.back-in-stock__bags {
  min-width: 100%; 
  height: auto;
}

.back-in-stock__caption {
  background-color: #F0F0F0;
  padding: 14px 24px;
  display: flex;
  gap: 1rem;
}

.photo__relative {
  position: relative;
}

.photo__absolute {
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.footer__form {
  height: 48px;
  width: 100%;
}

.list-of-items__hover:hover {
  background-color: #E5E5E5;
  transition: 0.5s;
}

.list-style-none {
  list-style: none;
}